.main{
    background: url(./img/edu\ 1.webp);
    background-repeat: no-repeat;
    background-size:cover;

}
.nav{
   
    display: flex;
    margin-left: 75%;
    gap: 13%;
}
.name{
    color: beige;
}
a{
    color: aliceblue;
    text-decoration: none;
    font-size: 15px;
}